{{#> layout}}

    <h1 class="mb-0">Vulpine Vault</h1>
    <div class="mb-2">
            <span text-neutral relative style="top: -0.5rem;">
                Fox_score's VPM Repository
            </span>
    </div>

    <row class="mb-4">
        <a href="vcc://vpm/addRepo?url={{encodeURIComponent 'https://foxscore.dev/vpm/index.json' }}">
        <button primary type="button">
            Add to VCC
        </button>
        </a>
        <button neutral onclick="Core.CopyToClipboard('https://foxscore.dev/vpm/index.json')"
                tooltip="Copy the index.json url to your clipboard" tooltip-placement="right">
            <i class="nf nf-md-content_copy"></i>
            &nbsp;
            Copy
        </button>
    </row>

    {{#ifEmpty packages}}
        <card danger>
            <header>
                No packages available
            </header>
            <content>
                This is likely an error.
                <br/>
                Please check again later.
            </content>
        </card>
    {{/ifEmpty}}

    <row>
    {{#each packages}}
        <card medium id="{{name}}">
            <header>
                {{displayName}}
            </header>
            <content>
                <code>{{description}}</code>

                <br/>

                <p text-neutral class="mb-0">
                    {{name}}
                    <br/>
                    {{version}}
                </p>

                {{#if dependencies}}
                    <br/>
                    <h3 class="mb-0">Dependencies</h3>
                    <table class="ps-2">
                        {{#each dependencies}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{range}}</td>
                            </tr>
                        {{/each}}
                    </table>
                {{/if}}

                {{#if vpmDependencies}}
                    <br/>
                    <h3 class="mb-0">VPM Dependencies</h3>
                    <table class="ps-2">
                    {{#each vpmDependencies}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{range}}</td>
                        </tr>
                    {{/each}}
                    </table>
                {{/if}}
            </content>
            <footer>
                <a href="{{url}}"><button neutral>
                    <i class="nf nf-md-download"></i>
                    &nbsp;
                    ZIP
                </button></a>
                {{#if unityPackage}}
                    <a href="{{unityPackage}}"><button neutral>
                        <i class="nf nf-md-download"></i>
                        &nbsp;
                        Unity Package
                    </button></a>
                {{/if}}
            </footer>
        </card>
    {{/each}}
    </row>

{{/layout}}